<div>
  <h1>Welcome Back!</h1>
  <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  <form *ngIf="!(isLoading$ | async)" (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="E-Mail"
        #emailInput="ngModel"
        name="email"
        ngModel
        required
        email
      />
      <mat-error *ngIf="emailInput.invalid"
        >Please enter valid email.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Password"
        name="password"
        ngModel
        #passwordInput="ngModel"
        required
      />
      <mat-error *ngIf="passwordInput.invalid"
        >Please enter a valid password</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="(submit)">Login</button>
  </form>
</div>
