<div class="example-container">
  <h2>
    <span class="list-header">To do</span>
    <span #todoFilter>
      <button mat-icon-button (click)="openDialog(todoFilter)">
        <mat-icon>add</mat-icon>
      </button>
    </span>
  </h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo$ | async"
    [cdkDropListConnectedTo]="[inProgressList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of (todo$ | async)" cdkDrag>
      <app-task [setTaskData]="item"></app-task>
    </div>
  </div>
</div>

<div class="example-container">
  <h2>
    <span class="list-header">In Progress</span>
    <!-- <span #inProgressFilter>
      <button mat-icon-button (click)="openDialog(inProgressFilter)">
        <mat-icon>add</mat-icon>
      </button>
    </span> -->
  </h2>

  <div
    cdkDropList
    #inProgressList="cdkDropList"
    [cdkDropListData]="inProgress$ | async"
    [cdkDropListConnectedTo]="[todoList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of (inProgress$ | async)" cdkDrag>
      <app-task [setTaskData]="item"></app-task>
    </div>
  </div>
</div>

<div class="example-container">
  <h2>
    <span class="list-header">Done</span>
    <!-- <span #doneFilter>
      <button mat-icon-button (click)="openDialog(doneFilter)">
        <mat-icon>add</mat-icon>
      </button>
    </span> -->
  </h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done$ | async"
    [cdkDropListConnectedTo]="[inProgressList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of (done$| async)" cdkDrag>
      <app-task [setTaskData]="item"></app-task>
    </div>
  </div>
</div>
