<div class="example-container">
  <h2>
    <span class="list-header">To do</span>
    <span #todoFilter>
      <button mat-icon-button (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </span>
  </h2>

  <div
    cdkDropList
    id="todo"
    [cdkDropListData]="todo$ | async"
    cdkDropListConnectedTo="inProgress"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      class="example-box"
      *ngFor="let item of todo$ | async"
      cdkDrag
      [cdkDragData]="item"
    >
      <app-task
        [setTaskData]="item"
        (updateTask)="onTaskUpdate($event)"
      ></app-task>
    </div>
  </div>
</div>

<div class="example-container">
  <h2>
    <span class="list-header">In Progress</span>
  </h2>

  <div
    cdkDropList
    id="inProgress"
    [cdkDropListConnectedTo]="['todo', 'done']"
    [cdkDropListData]="inProgress$ | async"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      class="example-box"
      *ngFor="let item of inProgress$ | async"
      cdkDrag
      [cdkDragData]="item"
    >
      <app-task
        [setTaskData]="item"
        (updateTask)="onTaskUpdate($event)"
      ></app-task>
    </div>
  </div>
</div>

<div class="example-container">
  <h2>
    <span class="list-header">Done</span>
  </h2>

  <div
    cdkDropList
    id="done"
    [cdkDropListData]="done$ | async"
    cdkDropListConnectedTo="inProgress"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      class="example-box"
      *ngFor="let item of done$ | async"
      cdkDrag
      [cdkDragData]="item"
    >
      <app-task
        [setTaskData]="item"
        (updateTask)="onTaskUpdate($event)"
      ></app-task>
    </div>
  </div>
</div>
