<div
  [class.theme-alternate]="!header.otherTheme"
  *ngIf="isAuthenticated$ | async; else auth"
  class="container"
>
  <app-header #header></app-header>
  <mat-sidenav-container class="sidenav-container">
    <!-- <mat-sidenav #drawer class="sidenav" attr.role="navigation" mode="side"> -->
    <mat-sidenav
      #drawer
      class="sidenav"
      [ngClass]="{ hidden: !(isHandset$ | async)!.matches }"
      fixedInViewport="false"
      [attr.role]="isHandset$ ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async)!.matches ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)!.matches || header.drawerToggle"
      (openedChange)="header.drawerToggle = drawer.opened"
    >
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="/board"
          routerLinkActive="active"
          *ngIf="(isHandset$ | async)!.matches"
          (click)="drawer.close()"
          >Kanban</a
        >
        <a
          mat-list-item
          routerLink="/board"
          routerLinkActive="active"
          *ngIf="!(isHandset$ | async)!.matches"
          >Kanban</a
        >
        <!-- <a mat-list-item routerLink="/about" routerLinkActive="active">Link 2</a>-->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-main></app-main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #auth>
  <div class="auth-bg" [class.theme-alternate]="otherTheme">
    <router-outlet></router-outlet>
  </div>
</ng-template>
