mat-card {
  padding: 40px;
  max-width: 600px;
  margin: 0px auto;
  border-radius: 4px;
}

mat-button-toggle-group {
  margin-bottom: 20px;
  width: 100%;
}

mat-button-toggle  {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  mat-card {
    max-width: 300px;
    padding: 20px;
  }
}