/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./app/theming/theme.scss";

html, body {
    height: 100%;
}

body {
    margin: 0;
}

mat-form-field,
textarea {
	width: 100%;

}

mat-spinner {
	margin: auto;
}